@page
@using Crm.CEP.CreateSegment
@model Crm.CEP.Web.Pages.Segment.CreateSegmentModel
@{
}
@*@{
    Layout = "/Views/Shared/_Layout.cshtml";
}*@
@section scripts
{
 <abp-script src="/Pages/Segment/CreateSegment.js" />
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
   
 
}
<script>
    var EnumEqualsarray = {
   equalsarray: {
           @{
               <text>equalsarray: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetValues(typeof(Equalsarray)), new Newtonsoft.Json.Converters.StringEnumConverter()))')</text>
         }
    }  
   
    }
   var EnumDropdown = {
   dropdwn: {
           @{
               <text>dropdwn: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetValues(typeof(Dropdown)), new Newtonsoft.Json.Converters.StringEnumConverter()))')</text>
         }
    }  
   
    }
      var EnumDateval = {
   dateval: {
           @{
               <text>dateval: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetValues(typeof(Dateval)), new Newtonsoft.Json.Converters.StringEnumConverter()))')</text>
         }
    }  
   
    }
 var EnumOperators = {
   operators: {
           @{
               <text>operators: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetValues(typeof(Operators)), new Newtonsoft.Json.Converters.StringEnumConverter()))')</text>
         }
    }  
   
    }
    var EnumSegattr = {
   segattr: {
           @{
               <text>segattr: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetValues(typeof(Segattr)), new Newtonsoft.Json.Converters.StringEnumConverter()))')</text>
         }
    }  
   
    }
     var EnumSegattri = {
   segattri: {
           @{
               <text>segattri: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Enum.GetValues(typeof(Segattri)), new Newtonsoft.Json.Converters.StringEnumConverter()))')</text>
         }
    }  
   
    }


</script>
 

<section class="content-header">
    <h1 class="Wo-List">
        @Html.Raw("Create Segment")
           <div class="text-right">
           
       <abp-button id="SaveSegBtn" text="Save Segment"  button-type="Primary" />
        </div>
               
        <small></small>
    </h1>
 
</section>
<section class="content">
    <!-- Asset Register Filter -->
    <div class="box2">
    
        <!-- /.box-header -->
        <div class="box-body" id ="boxclass">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="field-required">Segment Name</label>
                         <input type="text" id="seg_name" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row" id="seg_parent">                
                    <div class="col-md-3">
                           <div class="form-group">
                               
                               <select class="form-control select2" id="seg_mode" style="width: 100%;">
                                   <option value="0">--Select--</option>
                                   <option value="1">Customer</option>
                                   <option value="2">Transactions</option>
                                   </select>
                           </div>
                             
                       </div>    
                        <div class="col-md-3">
                           <div class="form-group">
                               
                               <select class="form-control select2" id="seg_attr" style="width: 100%;">
                                   <option value="0">--Select--</option>                                                                    
                                   </select>
                           </div>
                             
                       </div>   
                        <div class="col-md-3" id="div_seg_op">
                           <div class="form-group"> 
                              
                               <select class="form-control select2" id="seg_op" style="width: 100%;">
                                   <option value="0">--Select--</option>                                                                    
                                   </select>
                           </div>
                             
                       </div> 
                                        
               </div>
               <div class="row">
                   <div class="col-md-12 text-md-right">
                       <abp-button id="AddMoreBtn" text="Add"  button-type="Primary" />
                   </div>
               </div>
          <div class="col-md-12 form-group table-responsive">
                                                                
             <table id="Segment_Container" class="table">
                <thead>
                   <tr style=" border-bottom: 1px solid #555;">
                             <th>Segment Mode</th>
                                       <th>Segment Attribute</th>
                                        <th>Operation</th>
                                         <th>Segment Value</th>
                                                                                      
                    </tr>
                  </thead>
                <tbody>
              </tbody>
         </table>


  </div>
           
            </div>

            </section>
